.modal-content {
  border-radius: 28px;
}
.modal-header {
}
.modal-header h5 {
  font-family: var(--alieronBlack);
  text-align: center;
  margin-left: auto;
  margin-right: -20px;
}
.form input {
  border-radius: 28px;
  border: 2px solid var(--azul);
  padding: 13px;
  width: 60%;

  font-family: var(--poppins);
}
.form input::placeholder {
  text-align: center;
}
.form {
  padding: 5px;
}
.form input:focus {
  outline: none;
}
.form .error {
  color: red;
  font-size: 12px;
  display: block;
}
.form .errorInput {
  box-shadow: 0 0 1pt 2pt red;
  border: none;
}
